{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "prettier",
    "prettier/react",
  ]
}
