# General
.next
.eslintcache
.stylelintcache
node_modules
yarn-error.log

# Build directory
.DS_Store

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions